SECRET_KEY=change-me
DEBUG=1

USE_POSTGRES=0
POSTGRES_DB=pixifai
POSTGRES_USER=pixifai
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

GOOGLE_API_KEY=
GOOGLE_CSE_CX=
FACT_CHECK_API_KEY=
